.header {
  position: absolute;
  top: 2vh;
  left: 35vh;
  width: 77vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4F6FFF;
  border-radius: 30px;
  margin-left: 38px;
  padding: 10px 20px;
  color: white;
  height: 60px;
  z-index: 1000;
}

.header__logo img {
  height: 40px;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin: 0 20px;
}

.header__search-input {
  padding: 8px;
  border: 1px solid #99BCFF !important;
  border-radius: 25px;
  flex-grow: 1;
  /* Allow the input to take up remaining space */
  background-color: #99BCFF;
  color: white;
  /* White text for readability */
}

.header__search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  /* Lighter placeholder text */
}

.header__search-input:focus {
  border-color: #99BCFF !important;
  /* Focused border color */
}

.header__search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 5px;
}

.header__search-button i {
  font-size: 16px;
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-button:hover {
  background-color: #99BCFF;
  border-radius: 50%;
  /* Creates the circular shape */
  height: 40px;
  width: 40px;
}

/* Add Flexbox to align icons in a row */
.header__nav {
  display: flex;
  align-items: center;
}

.header__nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__nav a:hover {
  background-color: rgba(45, 42, 27, 0.3);
}

.header__nav a i {
  font-size: 18px;
  color: white;
}

/* Notification bell specific styles */
.notification-icon {
  position: relative;
}

/* Red circle at the bottom right of the bell icon */
.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}