* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #333333 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #333333;
  border: 2px #444444 solid;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 70vh;
  height: auto;
}

.title {
  padding-top: 0rem;
  text-align: center;
}

.login-container-h2 {
  color: #DCEBFF;
  /* Light purple for text */
  font-size: xxx-large;
  font-weight: bolder;
  margin-bottom: 14px;
}

.login-form .form-label {
  color: #ECF4FF;
  margin-bottom: 8px;
  margin-top: 38px;
  margin-left: 16px;
}

.login-form .form-control {
  background-color: #333333;
  border: 2px solid #3044FB;
  padding-left: 16px;
  border-radius: 16px;
  font-size: 16px;
  height: 42px;
  color: #ECF4FF !important;
}

.login-form .form-control:focus {
  border-color: #2433DE;
  box-shadow: none;
  color: #3044FB !important;
}

.login-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.login-button {
  background: linear-gradient(to right, #2433DE, #2433DE);
  border: 2px solid #2433DE !important;
  color: #ECF4FF;
  margin-top: 24px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 16px !important;
  width: 100px;
  height: 52PX;
}

#reset-password-button {
  height: 52px;
  width: fit-content;
}

.login-button:hover {
  background: linear-gradient(to right, #2433DE, #202EB3);
}

.signup-button {
  background: linear-gradient(to right, #202EB3, #202EB3);
  border: 2px solid #202EB3 !important;
  color: #3044FB, !important;
  margin-top: 24px;
  margin-left: 20px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 16px !important;
  width: 100px;
  height: 52PX;
}

.signup-button:hover {
  background: linear-gradient(to right, #23318C, #202EB3);
  color: #3044FB, !important;
}

.error-message {
  color: red;
  max-width: 410px;
  height: 16px;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 16px;
  padding-left: 16px;
}

.forgot-pass {
  color: #ECF4FF;
  font-size: small;
  margin-top: 4%;
  text-align: center;
  margin-bottom: 24px;
}

.reset-click {
  color: #3044FB;
  text-decoration: none;
}

.reset-click:hover {
  color: #2433DE;
}

/* Register */
.signup-container {
  background-color: #333333;
  border: 2px #444444 solid;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 70vh;
  height: auto;
}

.title {
  padding-top: 0rem;
  text-align: center;
}

.login-container-h2 {
  color: #DCEBFF;
  /* Light purple for text */
  font-size: xxx-large;
  font-weight: bolder;
  margin-bottom: 14px;
}

.signup-form .form-label {
  color: #ECF4FF;
  margin-bottom: 8px;
  margin-top: 24px;
  margin-left: 16px;
}

.signup-form .form-control {
  background-color: #333333;
  border: 2px solid #3044FB;
  padding-left: 16px;
  border-radius: 16px;
  font-size: 16px;
  height: 42px;
  color: #ECF4FF !important;
}

.signup-form .form-control:focus {
  border-color: #2433DE;
  box-shadow: none;
  color: #3044FB !important;
}

.signup-button-signup {
  background: linear-gradient(to right, #2433DE, #2433DE);
  border: 2px solid #2433DE !important;
  margin-top: 24px;
  margin-left: 0px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 16px !important;
  width: 100%;
  height: 52PX;
}

.signup-button-signup:hover {
  background: linear-gradient(to right, #2433DE, #23318C);
}

.old-user {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.old-user p {
  margin-right: 96px;
  font-size: 16px;
  margin-top: 10px;
  color: #ECF4FF;
}

.login-button-signup {
  background: linear-gradient(to right, #202EB3, #202EB3);
  border: 2px solid #202EB3 !important;
  color: #ECF4FF;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 16px !important;
  width: 109px;
  height: 52PX;
}

.login-button-signup:hover {
  background: linear-gradient(to right, #23318C, #202EB3);
  color: #3044FB, !important;
}

/*Sidebar*/
.sidebar {
  position: fixed;
  top: 2vh;
  left: 2vh;
  width: 240px;
  background: #3044FB;
  height: 95vh;
  margin-right: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ECF4FF;
  font-family: Arial, sans-serif;
  border-radius: 40px;
}

.sidebar h2 {
  font-weight: bold;
  margin-bottom: -10px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.menu-item {
  background-color: #BFD7FF;
  text-decoration: none;
  color: #000000;
  border: none;
  border-radius: 64px;
  padding: 10px;
  margin: 8px 0;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #DCEBFF;
}

.icon {
  margin-right: 10px;
}

.welcome-box {
  background: linear-gradient(to right, #2433DE, #2433DE);
  padding: 15px;
  border-radius: 24px;
  margin-top: 2vh;
  text-align: center;
  color: #DCEBFF;
}

.welcome-box h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.welcome-box p {
  font-size: 0.9rem;
}

.logout-button {
  background: linear-gradient(to right, #202EB3, #202EB3);
  text-decoration: none;
  border: 2px solid #202EB3 !important;
  color: #ECF4FF;
  padding: 10px 20px;
  border-radius: 64px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 2vh;
}

.logout-button:hover {
  background: linear-gradient(to right, #202EB3, #2433DE);
}

.post-container {
  background-color: #333333;
  border: 2px #444444 solid;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 76vw;
  min-height: 50vh;
  height: auto;
}

.post-form .form-label {
  color: #ECF4FF;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 16px;
  font-size: large;
  font-weight: bold;
}

.post-form .form-control {
  background-color: #333333;
  border: 2px solid #3044FB;
  padding-left: 16px;
  border-radius: 16px;
  font-size: large;
  height: 42px;
  color: #ECF4FF !important;
}

.post-form .form-control:focus {
  border-color: #2433DE;
  box-shadow: none;
  color: #ECF4FF !important;
  background-color: #2433DE;
}

.post-form .content-textarea {
  min-height: 50vh;
}

.post-button {
  background: linear-gradient(to right, #2433DE, #2433DE);
  border: 2px solid #2433DE !important;
  color: #ECF4FF;
  margin-top: 24px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 16px !important;
  width: 100%;
  height: 52PX;
  margin-bottom: 20px;
  font-size: x-large !important;
  font-weight: bolder !important;
}