/* Common styling for all boxes */
.announcement-meta {
    font-size: 0.9em;
    color: #777;
    margin-top: -12px;
}

.box {
    background-color: #2e2e2e;
    border: 2px solid #3044FB;
    border-radius: 30px;
    color: #fff;
    display: flex;
    padding: 20px;
    font-size: 18px;
    flex-direction: column;
}

h4 {
    color: #3044FB;
    font-weight: bolder;
}

.box p {
    font-weight: 100;
}

/* Container styling */
.boxes-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 79vw;
}

.boxes-container h1 {
    margin-left: 1.5vw;
    margin-top: 2vh;
    margin-bottom: 0vh;
    color: #4F6FFF;
    font-weight: bolder;
}

.grid-container {
    display: grid;
    position: initial;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    flex: 1;
}

/* Specific box styles */
.box1,
.box2 {
    grid-column: span 2;
    min-height: 10vh;
    max-height: 31vh;
}

.box3,
.box4,
.box5 {
    height: 30vh;
}

.box5 {
    padding: 0;
    align-items: start;
    border: none;
    background-color: #9DFF4A;
}

.box6 {
    grid-row: span 2;
    padding: 0;
    overflow: hidden;
}

.box6 img {
    width: 100%;
    height: 63vh;
    object-fit: cover;
    border-radius: 30px;
    display: block;
}

.box7 {
    grid-column: span 3;
    height: 30vh;
}

.post {
    margin: 1vw;
    background-color: #2e2e2e;
    border: 2px solid #3044FB;
    border-radius: 30px;
    color: #fff;
    padding: 20px;
    padding-bottom: 0%;
    font-size: 18px;
    height: fit-content;
    max-height: 40vh;
    margin-bottom: 1vh;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .box1,
    .box2,
    .box7 {
        grid-column: span 2;
    }

    .box6 {
        grid-row: span 1;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7 {
        grid-column: span 1;
        height: auto;
    }
}