* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #333333 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #333333;
  border: 2px #716D6F solid;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 40px;
  justify-content: center;
  width: 441px;
  height: 380px;
}

.title {
  text-align: center;
}

.login-container-h2 {
  color: #EAD1FF;
  /* Light purple for text */
  font-size: 48px;
  margin-bottom: 14px;
}

.login-form .form-label {
  color: #FAF4FF;
  margin-bottom: 8px;
  margin-top:38px ;
  margin-left: 16px;
}

.login-form .form-control {
  background-color: #333333;
  border: 1px solid #AB49FF;
  padding-left: 16px;
  border-radius: 16px;
  font-size: 16px;
  height: 42px;
  width: 410px;
  color: #FAF4FF;
}

.login-form .form-control:focus {
  border-color: #8315DB;
  box-shadow: none;
}

.login-button {
  background: linear-gradient(to right, #9825F8, #9825F8);
  border: 2px solid #AB49FF !important;
  color: #FAF4FF;
  margin-top: 44px;
  margin-left: 80px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 16px !important;
  width: 109px;
  height: 52PX;
}

.login-button:hover {
  background: linear-gradient(to right, #333333, #333333);
}

.signup-button {
  background: linear-gradient(to right, #9825F8, #9825F8);
  border: 2px solid #AB49FF !important;
  color: #FAF4FF;
  margin-top: 44px;
  margin-left: 20px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 16px !important;
  width: 109px;
  height: 52PX;
}

.signup-button:hover {
  background: linear-gradient(to right, #333333, #333333);
}